* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.logo img {
  height: 120px;
  width: 120px;
  transition: all 0.4s ease;
}
.logo img:hover {
  transform: scale(1.1);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #6c757d;
  padding: 20px 10%;
  transition: all 0.4s ease;
  height: 80px;
  padding: 10px 8%;
}

.navbar {
  display: flex;
}

.navbar a {
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1.2em;
  color: rgb(27, 65, 60);
  transition: all 0.4s ease;
}

.navbar a:hover {
  color: rgb(64, 205, 205);
}

.header-icons {
  display: flex;
  align-items: center;
}

.header-icons i {
  margin-left: 10px;
  margin-right: 15px;
  font-size: 40px;
  color: rgb(27, 65, 60);
  transition: all 0.4s ease;
}

.header-icons i:hover {
  transform: scale(1.2);
  color: rgb(64, 205, 205);
}

section {
  padding: 80px 15%;
}

.home {
  position: relative;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  align-items: center;
}

.home-text {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  margin: 15px 0 15px;
  color: palevioletred;
}

.home-img img {
  height: auto;
  height: 100%;
}

body {
  background: url(./images/background.png);
  background-size: cover;
  background-position: center;
}

.container-img img {
  height: auto;
  width: 50%;
}

.container {
  padding: 75px 15%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 3rem;
  align-items: center;
  cursor: pointer;
}

.container-box {
  display: flex;
  align-items: center;
  border: 1px solid #0b525b;
  border-radius: 20px;
  padding: 40px 60px;
  transition: all 0.4s ease;
}

.container-box:hover {
  transform: translateY(-8px);
  box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.5);
}

.container-text h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 4px;
}

.container-text p {
  font-size: 15px;
  font-weight: 500;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 4px;
}

.center-text {
  letter-spacing: 1.2px;
  text-align: center;
  transition: all 0.4s ease;
}

.categories-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 2rem;
  align-items: center;
  cursor: pointer;
  text-align: center;
  margin-top: 4rem;
}

.box img {
  height: auto;
  width: 110px;
  margin-bottom: 20px;
}

.box {
  padding: 25px 60px;
  border: 1px solid #0b525b;
  border-radius: 20px;

  transition: all 0.4s ease;
}

.box:hover {
  transform: translateY(-10px);
  box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.3);
}

.box h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 1.3;
  transition: all 0.4s ease;
}
.box h3:hover {
  color: palevioletred;
}

.box p {
  font-size: 15px;
  font-weight: 500;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.main-btn {
  text-align: center;
  margin-top: 5rem;
}
.btn {
  display: inline-block;
  padding: 16px 30px;
  font-size: 20px;
  font-weight: 700;
  color: black;
  background: palevioletred;
  border-radius: 30px;
  transition: all 0.4s ease;
}

.btn:hover {
  transform: scale(0.9) translateY(-4px);
}

.row img {
  width: 100%;
  height: 220px;
}

.courses-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 2rem;
  align-items: center;
  margin-top: 4rem;
  cursor: pointer;

  border-radius: 20px;
}

.row {
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
  transition: all 0.4s ease;
}

.row:hover {
  transform: translateY(-10px);
  box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.3);
}

.courses-text {
  padding: 30px 20px;
}

.courses-text h5 {
  font-size: 18px;
  font-weight: 700;
}

.courses-text h3 {
  font-size: 24px;
  font-size: 700;
  line-height: 34px;
  font-family: "Times New Roman", Times, serif;
  text-align: left;
  margin: 15px 0 15px;
  transition: all 0.4s ease;
}

.courses-text h3:hover {
  color: palevioletred;
}

.courses-text h6 {
  color: #696969;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
}

.rating {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rating p {
  color: #696969;
  font-weight: 400;
  letter-spacing: 1px;
}

.about-img {
  height: auto;
  width: 500px;
}

.about {
  display: grid;
  background-position: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.about-text {
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.2;
}

.about-text a {
  margin-top: 30px;
  margin-left: 180px;
}
